# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\paypal__payment__gateway\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
